<% include header %>
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
					<% for(i=0; i< articles.length; i++) {%>  
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="/articles/<%= articles[i]._id %>"><%= articles[i].articles_title %></a>
								</h1>
								<div class="entry-meta">
									<span class="post-category"><a href="/categorys/<%= categorys[i].categorys_url %>"><%= articles[i].articles_category %></a></span>
			
									<span class="post-date"><time class="entry-date" datetime="<%= articles[i].createtime.toLocaleDateString() %>"><%= articles[i].createtime.toLocaleDateString() %></time></span>
			
									<span class="post-author"><%= articles[i].author %></span>
			
									<span class="comments-link"><a href="#">4 Comments</a></span>
								</div>
							</header>
							<div class="entry-content clearfix">
								<p><%= articles[i].articles_text.substring(0,100) %></p>
								<div class="read-more cl-effect-14">
									<a href="/articles/<%= articles[i]._id %>" class="more-link">Continue reading <span class="meta-nav">→</span></a>
								</div>
							</div>
						</article>
					<% } %> 
						
					</main>
					<% include aside %>
				</div>
			</div>
		</div>
		<% include footer %>
		
